In [9]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
from config import db_password

In [6]:
conn = psycopg2.connect(
    host="localhost",
    database="wine-quality",
    user="postgres",
    password=db_password)

In [7]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wine-quality"

In [10]:
engine = create_engine(db_string)

In [11]:
engine

Engine(postgresql://postgres:***@127.0.0.1:5432/wine-quality)

In [13]:
df = pd.read_sql("SELECT * FROM wine_full", engine.connect())

In [15]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph,sulphates,alchohol,quality
0,6.6,0.400,0.30,5.3,0.038,20.0,125.0,0.99204,3.36,0.73,12.6,6.0
1,6.6,0.325,0.49,7.7,0.049,53.0,217.0,0.99600,3.16,0.40,9.3,5.0
2,6.3,0.270,0.23,2.9,0.047,13.0,100.0,0.99360,3.28,0.43,9.8,5.0
3,6.6,0.190,0.99,1.2,0.122,45.0,129.0,0.99360,3.09,0.31,8.7,6.0
4,7.2,0.490,0.18,2.7,0.069,13.0,34.0,0.99670,3.29,0.48,9.2,6.0